#div_21
{
	overflow : hidden;
	width : 460px;
	top : 0px;
	height : 680px;
	position : absolute;
	left : 10px;
	border-color : #878787;
	border-style : solid;
	border-width : 1px;
	background-color : #b2b2b2;

}

#div_22
{
	overflow : hidden;
	width : 440px;
	top : 150px;
	height : 520px;
	position : absolute;
	left : 10px;
	border-color : #878787;
	border-style : solid;
	border-width : 1px;
	background-color : #dadada;

}

#div_23
{
	overflow : hidden;
	width : 420px;
	top : 70px;
	height : 250px;
	position : absolute;
	left : 10px;
	border-color : #878787;
	border-style : solid;
	border-width : 1px;
	background-color : #dadada;

}

#table_29
{
	overflow : hidden;
	width : 420px;
	top : 0px;
	height : 250px;
	position : absolute;
	left : 0px;
	border-color : #0;
	background-color : #b2b2b2;
	border-color : #0;
	font-family : serif;
	background-color : #b2b2b2;

}

#table_29 th
{
	font-size : 24px;
	color : #ffffff;
	text-align : center;
	background : #878787;	height : 30px;

}

#div_24
{
	overflow : hidden;
	width : 300px;
	top : 330px;
	height : 170px;
	position : absolute;
	left : 70px;
	border-color : #878787;
	border-style : solid;
	border-width : 1px;
	background-color : #b2b2b2;

}

#textheader_31
{
	overflow : hidden;
	width : 254px;
	top : 9px;
	height : 29px;
	position : absolute;
	left : 26px;
	color : #000000;
	width : 100%;
	font-size : 22px;
	font-family : sans-serif;
	margin-top : 0;

}

#textheader_31 a
{
	color : #000000;
	text-decoration : none;

}

#combobox_34
{
	overflow : hidden;
	width : 300px;
	top : 40px;
	height : 30px;
	position : absolute;
	left : 0px;
	color : #ffffff;
	font-size : 17px;
	font-family : sans-serif;
	background-color : #575756;

}

#texteditbox_35
{
	overflow : hidden;
	width : 300px;
	top : 70px;
	height : 30px;
	position : absolute;
	left : 0px;
	font-size : 17px;
	color : #575756;
	font-family : sans-serif;

}

#texteditbox_36
{
	overflow : hidden;
	width : 300px;
	top : 100px;
	height : 30px;
	position : absolute;
	left : 0px;
	font-size : 17px;
	color : #575756;
	font-family : sans-serif;

}

#button_37
{
	overflow : hidden;
	width : 280px;
	top : 130px;
	height : 30px;
	position : absolute;
	left : 10px;
	color : #ffffff;
	font-size : 17px;
	font-family : sans-serif;
	background-color : #575756;

}

#div_25
{
	overflow : hidden;
	width : 420px;
	top : 10px;
	height : 50px;
	position : absolute;
	left : 10px;
	border-color : #878787;
	border-style : solid;
	border-width : 1px;
	background-color : #878787;

}

#button_32
{
	overflow : hidden;
	width : 60px;
	top : 10px;
	height : 30px;
	position : absolute;
	left : 350px;
	color : #ffffff;
	font-size : 17px;
	font-family : sans-serif;
	background-color : #575756;

}

#texteditbox_33
{
	overflow : hidden;
	width : 240px;
	top : 10px;
	height : 30px;
	position : absolute;
	left : 10px;
	font-size : 17px;
	color : #575756;
	font-family : serif;

}

#button_38
{
	overflow : hidden;
	width : 80px;
	top : 10px;
	height : 30px;
	position : absolute;
	left : 260px;
	color : #ffffff;
	font-size : 17px;
	font-family : sans-serif;
	background-color : #575756;

}

#breadcrumb_26
{
	overflow : hidden;
	width : 365px;
	top : 80px;
	height : 29px;
	position : absolute;
	left : 0px;
	color : #575756;
	width : 100%;
	font-size : 22px;
	font-family : sans-serif;
	margin-top : 0;

}

#breadcrumb_26 a
{
	color : #575756;
	text-decoration : none;

}

#navbar_27
{
	overflow : hidden;
	width : 460px;
	top : 110px;
	height : 30px;
	position : absolute;
	left : 0px;
	margin : 0;
	padding : 0;
	list-style : none;

}

#navbar_27 li
{
	display : inline;
	background-color : #878787;

}

#navbar_27 li a
{
	width : 114px;
	padding : 0px 0;
	height : 30px;
	text-decoration : none;
	font-family : sans-serif;

	font-size : 16px;
	background : #878787;
	color : white;
	float : left;
	text-align : center;
	padding-top : 7px;
	border-left : 1px solid black;
}

#navbar_27 li a:hover
{
	background : black;
	color : white;

}

#image_28
{
	overflow : hidden;
	width : 90px;
	top : 0px;
	height : 70px;
	position : absolute;
	left : 0px;

}

#textheader_30
{
	overflow : hidden;
	width : 156px;
	top : 0px;
	height : 42px;
	position : absolute;
	left : 92px;
	color : #575756;
	width : 100%;
	font-size : 32px;
	font-family : sans-serif;
	margin-top : 0;

}

#textheader_30 a
{
	color : #575756;
	text-decoration : none;

}

