#div_39
{
	overflow : hidden;
	width : 460px;
	top : 0px;
	height : 680px;
	position : absolute;
	left : 10px;
	border-color : #878787;
	border-style : solid;
	border-width : 1px;
	background-color : #b2b2b2;

}

#div_40
{
	overflow : hidden;
	width : 440px;
	top : 150px;
	height : 520px;
	position : absolute;
	left : 10px;
	border-color : #878787;
	border-style : solid;
	border-width : 1px;
	background-color : #dadada;

}

#div_41
{
	overflow : hidden;
	width : 420px;
	top : 70px;
	height : 250px;
	position : absolute;
	left : 10px;
	border-color : #878787;
	border-style : solid;
	border-width : 1px;
	background-color : #dadada;

}

#textheader_46
{
	overflow : hidden;
	width : 209px;
	top : 75px;
	height : 67px;
	position : absolute;
	left : 37px;
	color : #575756;
	width : 100%;
	font-size : 54px;
	font-family : sans-serif;
	margin-top : 0;

}

#textheader_46 a
{
	color : #575756;
	text-decoration : none;

}

#breadcrumb_42
{
	overflow : hidden;
	width : 327px;
	top : 81px;
	height : 28px;
	position : absolute;
	left : 0px;
	color : #575756;
	width : 100%;
	font-size : 20px;
	font-family : sans-serif;
	margin-top : 0;

}

#breadcrumb_42 a
{
	color : #575756;
	text-decoration : none;

}

#navbar_43
{
	overflow : hidden;
	width : 460px;
	top : 110px;
	height : 30px;
	position : absolute;
	left : 0px;
	margin : 0;
	padding : 0;
	list-style : none;

}

#navbar_43 li
{
	display : inline;
	background-color : #878787;

}

#navbar_43 li a
{
	width : 114px;
	padding : 0px 0;
	height : 30px;
	text-decoration : none;
	font-family : sans-serif;

	font-size : 16px;
	background : #878787;
	color : white;
	float : left;
	text-align : center;
	padding-top : 7px;
	border-left : 1px solid black;
}

#navbar_43 li a:hover
{
	background : black;
	color : white;

}

#image_44
{
	overflow : hidden;
	width : 90px;
	top : 0px;
	height : 70px;
	position : absolute;
	left : 0px;

}

#textheader_45
{
	overflow : hidden;
	width : 156px;
	top : 0px;
	height : 42px;
	position : absolute;
	left : 92px;
	color : #575756;
	width : 100%;
	font-size : 32px;
	font-family : sans-serif;
	margin-top : 0;

}

#textheader_45 a
{
	color : #575756;
	text-decoration : none;

}

