#div_47
{
	overflow : hidden;
	width : 460px;
	top : 0px;
	height : 680px;
	position : absolute;
	left : 10px;
	border-color : #878787;
	border-style : solid;
	border-width : 1px;
	background-color : #b2b2b2;

}

#div_48
{
	overflow : hidden;
	width : 440px;
	top : 150px;
	height : 520px;
	position : absolute;
	left : 10px;
	border-color : #878787;
	border-style : solid;
	border-width : 1px;
	background-color : #dadada;

}

#div_49
{
	overflow : hidden;
	width : 420px;
	top : 70px;
	height : 440px;
	position : absolute;
	left : 10px;
	border-color : #878787;
	border-style : solid;
	border-width : 1px;
	background-color : #dadada;

}

#table_56
{
	overflow : hidden;
	width : 420px;
	top : 0px;
	height : 250px;
	position : absolute;
	left : 0px;
	border-color : #0;
	background-color : #b2b2b2;
	border-color : #0;
	font-family : serif;
	background-color : #b2b2b2;

}

#table_56 th
{
	font-size : 22px;
	color : #ffffff;
	text-align : center;
	background : #878787;	height : 30px;

}

#div_50
{
	overflow : hidden;
	width : 420px;
	top : 10px;
	height : 50px;
	position : absolute;
	left : 10px;
	border-color : #878787;
	border-style : solid;
	border-width : 1px;
	background-color : #878787;

}

#button_55
{
	overflow : hidden;
	width : 80px;
	top : 10px;
	height : 30px;
	position : absolute;
	left : 260px;
	color : #ffffff;
	font-size : 17px;
	font-family : sans-serif;
	background-color : #575756;

}

#texteditbox_57
{
	overflow : hidden;
	width : 130px;
	top : 10px;
	height : 30px;
	position : absolute;
	left : 10px;
	font-size : 17px;
	color : #575756;
	font-family : serif;

}

#combobox_58
{
	overflow : hidden;
	width : 100px;
	top : 10px;
	height : 30px;
	position : absolute;
	left : 150px;
	color : #ffffff;
	font-size : 14px;
	font-family : serif;
	background-color : #575756;

}

#button_59
{
	overflow : hidden;
	width : 80px;
	top : 10px;
	height : 30px;
	position : absolute;
	left : 340px;
	color : #ffffff;
	font-size : 17px;
	font-family : sans-serif;
	background-color : #575756;

}

#breadcrumb_51
{
	overflow : hidden;
	width : 327px;
	top : 81px;
	height : 28px;
	position : absolute;
	left : 0px;
	color : #575756;
	width : 100%;
	font-size : 20px;
	font-family : sans-serif;
	margin-top : 0;

}

#breadcrumb_51 a
{
	color : #575756;
	text-decoration : none;

}

#navbar_52
{
	overflow : hidden;
	width : 460px;
	top : 110px;
	height : 30px;
	position : absolute;
	left : 0px;
	margin : 0;
	padding : 0;
	list-style : none;

}

#navbar_52 li
{
	display : inline;
	background-color : #878787;

}

#navbar_52 li a
{
	width : 114px;
	padding : 0px 0;
	height : 30px;
	text-decoration : none;
	font-family : sans-serif;

	font-size : 16px;
	background : #878787;
	color : white;
	float : left;
	text-align : center;
	padding-top : 7px;
	border-left : 1px solid black;
}

#navbar_52 li a:hover
{
	background : black;
	color : white;

}

#image_53
{
	overflow : hidden;
	width : 90px;
	top : 0px;
	height : 70px;
	position : absolute;
	left : 0px;

}

#textheader_54
{
	overflow : hidden;
	width : 156px;
	top : 0px;
	height : 42px;
	position : absolute;
	left : 92px;
	color : #575756;
	width : 100%;
	font-size : 32px;
	font-family : sans-serif;
	margin-top : 0;

}

#textheader_54 a
{
	color : #575756;
	text-decoration : none;

}

