body {
	background-color : #FFFFFF;
}

#div_1
{
	//overflow : hidden;
	//width : 100%;
	//top : 0px;
	//height : 100%;
	left : 0px;
	border-color : #878787;
	border-style : solid;
	border-width : 0px;
	background-color : #FFF;
}

#div_2
{
	//overflow : hidden;
	//width : 98%;
	top : 150px;
	//height : 600px;
	//position : absolute;
	//left : 1px;
	//right : 1px;
	background-color : #FFF;
	margin-bottom: 50px;

}

#div_3
{
	overflow-y : auto;
	//width : 98%;
	//top : 70px;
	margin-top : 15px;
	//height : 400px;
	left : 0%;
	right : 0%;
	//border-color : #878787;
	//border-style : solid;
	//border-width : 1px;
	//background-color : #FFF;

}

#table_8
{
	overflow : hidden;
	width : 100%;
	//top : 0px;
	left : 0px;
	background-color : #FFFFFF;
	border-color : #0;
	font-family : serif;

}

#table_8 th
{
	font-size : 17px;
	color : #ffffff;
	text-align : center;
	background : #878787;	height : 30px;

}

#div_4
{
	overflow : hidden;
	width : 100%;
	//top : 330px;
	//height : 170px;
	left : 0px;

	margin-top : 15px;
	border-color : #878787;
	border-style : solid;
	border-width : 0px;
	background-color : #FFFFFF;

}


#trrow_white
{
	background-color : #F7F1F1;
}

#trrow_grey
{
	background-color : lightgrey;
}

#trrow_red
{
	background-color : #BE66BA;
}

#infoList
{
	margin-top : 0px;
	text-align : right;
	margin-top : 5px;
	padding-top : 8px;
	padding-right : 10px;
	padding-bottom : 4px;
	background-color : #8d9a83;
	text-decoration : underline;
	font-weight : bold;
}

#btnRevocationKey
{
	border:2px #99ffcc dotted;
	color:grey;
	background-color:white;
}

#btnRevocationKey:hover
{
	border:2px black solid;
	color:grey;
	background-color:lightgrey;
}


#texteditbox_11
{
	overflow : hidden;
	width : 300px;
	//top : 40px;
	height : 20px;
	left : 0px;
	font-size : 12px;
	color : #575756;
	font-family : sans-serif;

}

#texteditbox_12
{
	overflow : hidden;
	width : 150px;
	//top : 70px;
	height : 20px;
	left : 0px;
	font-size : 12px;
	color : #575756;
	font-family : sans-serif;

}

#texteditbox_13
{
	overflow : hidden;
	width : 300px;
	//top : 100px;
	height : 20px;
	left : 0px;
	font-size : 12px;
	color : #575756;
	font-family : sans-serif;

}

#textheader_14
{
	//overflow : hidden;
	width : 980px;
	//top : 9px;
	//height : 29px;
	color : #000000;
	//width : 100%;
	font-size : 22px;
	font-family : sans-serif;
	margin-top : 0;
	border : 1px black solid;
	text-align : center;
	background-color : grey;

}

#textheader_14 a
{
	color : #000000;
	text-decoration : none;

}

#button_15
{
	overflow : hidden;
	width : 170px;
	//top : 130px;
	height : 30px;
	//left : 120px;
	color : #2404CC;
	border : 1px lightgrey solid;
	font-size : 17px;
	font-family : sans-serif;
	background-color : #8A8AFA;

}

#checkboxgrp_16
{
	overflow : hidden;
	width : 90px;
	//top : 130px;
	height : 30px;
	left : 10px;

}

.checkboxgrp_16
{
	color : #575756;
	overflow : hidden;
	font-size : 12px;
	font-family : serif;

}

.checkboxgrp_16#checkboxgrp_16_0_radio
{
	left : 0px;
	//top : 0px;

}

#div_5
{
	overflow : hidden;
	width : 420px;
	//top : 10px;
	height : 50px;
	//left : 10px;
	border-color : #878787;
	border-style : solid;
	border-width : 1px;
	background-color : #4A8A85;

}

#button_17
{
	overflow : hidden;
	width : 90px;
	//top : 10px;
	height : 30px;
	left : 260px;
	color : #ffffff;
	font-size : 17px;
	font-family : sans-serif;
	background-color : #575756;

}

#button_18
{
	overflow : hidden;
	width : 60px;
	//top : 10px;
	height : 30px;
	left : 350px;
	color : #ffffff;
	font-size : 17px;
	font-family : sans-serif;
	background-color : #575756;

}

#texteditbox_19
{
	overflow : hidden;
	width : 240px;
	//top : 10px;
	height : 30px;
	left : 10px;
	font-size : 17px;
	color : #575756;
	font-family : serif;

}

#navbar_6
{
	overflow : hidden;
	width : 460px;
	//top : 110px;
	height : 30px;
	left : 0px;
	margin : 0;
	padding : 0;
	list-style : none;

}

#navbar_6 li
{
	display : inline;
	background-color : #878787;

}

#navbar_6 li a
{
	width : 114px;
	padding : 0px 0;
	height : 30px;
	text-decoration : none;
	font-family : sans-serif;

	font-size : 16px;
	background : #878787;
	color : white;
	float : left;
	text-align : center;
	padding-top : 7px;
	border-left : 1px solid black;
}

#navbar_6 li a:hover
{
	background : black;
	color : white;

}

#image_7
{
	overflow : hidden;
	width : 90px;
	//top : 0px;
	height : 70px;
	left : 0px;

}

#textheader_9
{
	overflow : hidden;
	width : 156px;
	//top : 0px;
	height : 42px;
	left : 92px;
	color : #575756;
	width : 100%;
	font-size : 32px;
	font-family : sans-serif;
	margin-top : 0;

}

#textheader_9 a
{
	color : #575756;
	text-decoration : none;

}

#textheader_10
{
	overflow : hidden;
	width : 116px;
	//top : 653px;
	height : 18px;
	left : 331px;
	color : #575756;
	width : 100%;
	font-size : 12px;
	font-family : monospace;
	margin-top : 0;

}

#textheader_10 a
{
	color : #575756;
	text-decoration : none;

}

#breadcrumb_20
{
	overflow : hidden;
	width : 365px;
	//top : 80px;
	height : 29px;
	left : 0px;
	color : #575756;
	width : 100%;
	font-size : 22px;
	font-family : sans-serif;
	margin-top : 0;

}

#breadcrumb_20 a
{
	color : #575756;
	text-decoration : none;

}

